.choose-section{
    &__conteiner{
        position: relative;
        overflow: hidden;
        padding: 70px 14px;
        background: rgba(247, 247, 253, 1);
        border-radius: 35px;
    }
    &__decoration-green{
        z-index: 1;
        position: absolute;
        top: 71px;
        right: 114px;
    }
    &__decoration-blue{
        position: absolute;
        bottom: 50px;
        left: 147px;
    }
    &__title{
        position: relative;
        z-index: 8;
        margin: 0 auto;
        font-family: 'epilogue',medium;
        @include fonts(clamp(1.625rem, 1.352rem + 1.37vw, 2.5rem),500,62px,rgba(61, 61, 61, 1));
        text-align: center;
        margin-bottom: 41px;
        max-width: 800px;
        
    }
    &__title-accent{
        background: linear-gradient(180deg,rgba(49, 113, 222, 1),rgba(74, 192, 242, 1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    &__cards{
        display: flex;
        //gap: 38px;
        margin-bottom: 41px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        width: 385px;
        padding: 37px 28px;
        border-radius: 35px;
        background: rgba(255, 255, 255, 1);
        &-title{
            font-family: 'Epilogue',medium;
            @include fonts(clamp(1.125rem, 1.008rem + 0.59vw, 1.5rem),500,32px,rgba(61, 61, 61, 1));
            margin-bottom: 19px;
            
        }
        
        &-text{
            font-family: 'Epilogue',regular;
            @include fonts(clamp(0.75rem, 0.672rem + 0.39vw, 1rem),400,24px,rgba(82, 82, 82, 1));
        }
        &:nth-child(2){  
            background: linear-gradient(45deg,rgba(237, 225, 79, 1),rgba(98, 174, 110, 1)) ;
            & h3,p{
                color: rgba(255, 255, 255, 1);
            }
        }
        &:nth-child(4){
            background: linear-gradient(45deg,rgba(74, 192, 242, 1),rgba(49, 113, 222, 1)) ;
            & h3,p{
                color: rgba(255, 255, 255, 1);
            }
        }
    }
    @media(max-width:768px){
        &__decoration-green,
        &__decoration-blue{
            display: none;
        }
        &__title{
            margin: 0 20px 41px;
            line-height: 62px;
        }
        &__cards{
            margin-bottom: 41px;
            
        }
        &__card{
            width: 282px;
            padding: 28px 20px;
            &-title{
                line-height: 24px;
            }
            &-text{
                line-height: 18px;
            }
        }
    }
}    